*{
    margin:0;
    padding:0;
}
body {
    margin: 0;
    height: 100vh;          
    display: flex;
    justify-content: center; 
    align-items: center;     
}
.intro p{
    height:200px;
    width:280px;
    background-color:blue;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    border-radius:25px;
}
.intro:hover{
    border:5px solid rgb(56, 237, 254);
    border-radius:28px;
    transform:scale(2);
}